# Target modern browsers only to reduce polyfills
# https://browsersl.ist/

# Production
defaults and fully supports es6-module
not dead
not op_mini all

# Development
last 1 chrome version
last 1 firefox version
last 1 safari version

